.Header{
    height: 15vh;
    background-color: #9E9584;
    display: grid;
    grid-template-columns: 80vw 20vw;
    margin: 0;
}
.SearchBar{
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBar>input{
    height: 20%;
    width: 15%;
    
}

.SavedItems{
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
}

.SavedItems>*{
    margin: 0 2vw;
    display: flex;
    align-items: center;
}
.SavedItems>*>p{
    margin:0 5px
}
.SavedItems>.LinkHeader{
    text-decoration: none;
    color: black;
}