.ItemDisplay{
position: relative;
left: 25vw;
top: 10vh;
width: 60vw;
height: 65vh;
background-color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.ItemDisplay>img{
    max-width: 150px;
    max-height: 150px;
}

.ItemDisplayDescription{
    text-align: center;
    width: 60%;
}

.ItemDisplayDescription>button{
    height: 50px;
    width: 100px; 
    margin:0 2em 0 2em ;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.2s ease;
}

.ItemDisplayDescription>button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
